@import 'https://fonts.googleapis.com/css?family=Denk+One'

h1 {font-family: 'Denk One', sans-serif;



}

body {background-color: purple;}


footer {background-color: green;}
header {background-color: green;}


